In [1]:
import pandas as pd

source: https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?src=bkmk

In [10]:
median_household_income= pd.read_csv("ACS_17_1YR_R1901.US01PRF_with_ann.csv")

In [11]:
median_household_income.head()

,Id,Id2,Geography,Target Geo Id,Target Geo Id2,Rank,Geographical Area,Dollar,Margin of Error
0,0100000US,NaN,United States,0100000US,NaN,NaN,United States,60336,86
1,0100000US,NaN,United States,0400000US11,11.0,1.0,District of Columbia,82372,2651
2,0100000US,NaN,United States,0400000US24,24.0,2.0,Maryland,80776,707
3,0100000US,NaN,United States,0400000US34,34.0,3.0,New Jersey,80088,672
4,0100000US,NaN,United States,0400000US15,15.0,4.0,Hawaii,77765,1795

In [12]:
median_household_income=median_household_income[["Rank","Geographical Area","Dollar"]]

In [14]:
median_household_income=median_household_income.drop(index=[0])

In [33]:
median_household_income=median_household_income.drop(index=[52])

In [34]:
median_household_income["Rank"]=median_household_income["Rank"].astype(int)

In [35]:
median_household_income

    Rank     Geographical Area  Dollar
1      1  District of Columbia   82372
2      2              Maryland   80776
3      3            New Jersey   80088
4      4                Hawaii   77765
5      5         Massachusetts   77385
6      6           Connecticut   74168
7      7         New Hampshire   73381
8      8                Alaska   73181
9      9            California   71805
10    10              Virginia   71535
11    11            Washington   70979
12    12              Colorado   69117
13    13             Minnesota   68388
14    14                  Utah   68358
15    15              New York   64894
16    16          Rhode Island   63870
17    17              Illinois   62992
18    18              Delaware   62852
19    19          North Dakota   61843
20    20               Wyoming   60434
21    21                Oregon   60212
22    22              Nebraska   59970
23    23             Wisconsin   59305
24    24                 Texas   59206
25    25          Pennsylvania   59195
26    26                  Iowa   58570
27    27                Nevada   58003
28    28               Vermont   57513
29    29               Arizona   56581
30    30          South Dakota   56521
31    31                Kansas   56422
32    32                 Maine   56277
33    33               Georgia   56183
34    34              Michigan   54909
35    35               Indiana   54181
36    36                  Ohio   54021
37    37              Missouri   53578
38    38               Montana   53386
39    39        North Carolina   52752
40    40               Florida   52594
41    41                 Idaho   52225
42    42             Tennessee   51340
43    43        South Carolina   50570
44    44              Oklahoma   50051
45    45              Kentucky   48375
46    46               Alabama   48123
47    47            New Mexico   46744
48    48             Louisiana   46145
49    49              Arkansas   45869
50    50           Mississippi   43529
51    51         West Virginia   43469

In [36]:
state_abbr=pd.read_csv("state-abbrevs.csv")
state_abbr.head()

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [37]:
state_abbr_dict=state_abbr.set_index("state").to_dict()["abbreviation"]

In [38]:
state_abbr_dict

{'Alabama': 'AL',
 'Alaska': 'AK',
 'Arizona': 'AZ',
 'Arkansas': 'AR',
 'California': 'CA',
 'Colorado': 'CO',
 'Connecticut': 'CT',
 'Delaware': 'DE',
 'District of Columbia': 'DC',
 'Florida': 'FL',
 'Georgia': 'GA',
 'Hawaii': 'HI',
 'Idaho': 'ID',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Iowa': 'IA',
 'Kansas': 'KS',
 'Kentucky': 'KY',
 'Louisiana': 'LA',
 'Maine': 'ME',
 'Montana': 'MT',
 'Nebraska': 'NE',
 'Nevada': 'NV',
 'New Hampshire': 'NH',
 'New Jersey': 'NJ',
 'New Mexico': 'NM',
 'New York': 'NY',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'Ohio': 'OH',
 'Oklahoma': 'OK',
 'Oregon': 'OR',
 'Maryland': 'MD',
 'Massachusetts': 'MA',
 'Michigan': 'MI',
 'Minnesota': 'MN',
 'Mississippi': 'MS',
 'Missouri': 'MO',
 'Pennsylvania': 'PA',
 'Rhode Island': 'RI',
 'South Carolina': 'SC',
 'South Dakota': 'SD',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Utah': 'UT',
 'Vermont': 'VT',
 'Virginia': 'VA',
 'Washington': 'WA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 'Wyoming': 'WY'}

In [39]:
median_household_income["abbr"]=median_household_income["Geographical Area"].apply(lambda x:state_abbr_dict[x])

In [40]:
median_household_income.head()

   Rank     Geographical Area  Dollar abbr
1     1  District of Columbia   82372   DC
2     2              Maryland   80776   MD
3     3            New Jersey   80088   NJ
4     4                Hawaii   77765   HI
5     5         Massachusetts   77385   MA

In [42]:
median_household_income.to_csv("median_household_income2017.csv",index=False)